.venv/
config.py
*.ipynb
logger/__pycache__/
filters/__pycache__/
*/__pycache__/*
bot.log
.DS_Store/*.pyc
*.pgsql
my_account.session
my_account.session-journal
*.pgsql
*.pyc
__pycache__/
handlers/__pycache__/
pyro_handlers/__pycache__/
utils/__pycache__/
*.JPG
*.png
*.PNG
*.jpg
не_спам.xlsx
спам.xlsx