aiogram
pandas
sqlalchemy
icecream
glob2
redis
asyncpg
APScheduler
psycopg2-binary
greenlet
openpyxl
python-Levenshtein
xlsxwriter
nltk
unidecode
fuzzywuzzy
pyrogram
transformers
torch
tqdm
pymorphy3
pandas
unidecode
nltk
scikit-learn
icecream
openpyxl
matplotlib
numpy
spacy